
.Wrapper{
  display: flex;
  flex-direction: column;
  font-family: monospace;
  height: 100vh;
}

.Body {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: rgb(233, 255, 248);
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 10;
}

.Result{
  font-size: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Result > div{
  display: flex;
  flex-direction: column-reverse;
  height: 500px;  
  width: 450px;  
  background-color: rgb(197, 228, 218);
  border-radius: 300px;
  border:  rgb(197, 228, 218) solid 40px;
  align-items: center;
}

#fighter{
  height: 400px;
  width: 400px;
}

.Opponent-hidden{
  font-size: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Opponent-hidden > div{
  display: flex;
  flex-direction: column-reverse;
  height: 500px;  
  width: 450px;  
  background-color: rgb(197, 228, 218);
  border-radius: 300px;
  border:  rgb(197, 228, 218) solid 40px;
  align-items: center;
}

.Opponent-hidden > div > p{
  visibility: hidden;
}

.Opponent-hidden > div >img{
  filter: contrast(0%);
  width: 400px;
  height: 400px;
}

.Opponent-visible{
  font-size: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.Opponent-visible > div{
  display: flex;
  flex-direction: column-reverse;
  height: 500px;  
  width: 450px;  
  background-color: rgb(197, 228, 218);
  border-radius: 300px;
  border:  rgb(197, 228, 218) solid 40px;
  align-items: center;
}

.Opponent-visible > div > p{
  visibility: visible;
}

.Opponent-visible > div >img{
  filter: contrast(100%);
  width: 400px;
  height: 400px;
}
